* 
{
	font-family: 'Lato', sans-serif; 
}
body
{
	background: #eee;
}
body footer .page
{
	background-color: #00452a;
}
.yeaf
{
	position: fixed;
	background: #ffb300;
	box-shadow: none;
	z-index: 5;
}
.yeaf:after
{
	background: blue;
}
nav div
{
	margin: 0 5vw 0 5vw;
}

section
{
	width: 90%;
	margin: auto;
	align-items: center;
	box-sizing: border-box;
	margin-top: 100px;
	margin-bottom: 120px;
}
section h2
{
	color: #573d00;
}
.carousel.carousel-slider
{
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	line-height: 8vh;
}
.carousel.carousel-slider img
{
	height: 100%;
	object-fit: cover;
}
.carousel-fixed-item h2
{
	color: #fff;
	font-size: 7vw;
	padding-bottom: 10vh;
}
a
{
	background-color: #ff0000;
}
.del
{
	text-align: right;
}